@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: black;
}

@media(max-width: 576px){

    /* NAVBAR */

    .navBar{
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
    }

    .navBarLista{
        display: flex;
        flex-direction: row;
        margin-left: 7px;
    }

    .navBarLista li{
        list-style: none;
        padding-top: 10px;
        padding-right: 10px;
    }

    .navBarLista li a{
        text-decoration: none; 
        padding: 3px;
        border: solid 1px black;
        border-radius: 3px;
        color: black;
    }

    .navBarLista li a:hover{
        background-color: black;
        color: white;
        transition: 1.5s;
    }

    /* MENU */

    .menu{
        display: flex;
        flex-direction: column;
    }

    .menu div{
        margin-bottom: 10px;
    }

    .menu div h4{
        padding: 5px;
        text-decoration: underline black;
        text-align: center;
        margin-bottom: 5px;
    }

    .divLista li{
        padding-left: 7px;
        padding-bottom: 3px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .divLista li span{
        margin-right: 10px;
    }

    .divBakerySalado{
        margin-bottom: none;
    }

    .divBakeryDulce h5{
        padding-left: 7px;
    }

    .divBakeryDulce ul{
        padding-left: 9px;
    }

    .divBakerySalado h5{
        padding-left: 7px;
    }

    .divBakerySalado ul{
        padding-left: 9px;
    }

    /* PIE DE PAGINA */

    .piePagina{
        background-color: black;
        color: white;
        padding: 10px;
        margin-top: 15px;
    }

    .piePaginaFotos{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .piePaginaTexto{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

